.si-btn{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 1px;
  font-size: 15px;
  font-weight: 500;
}
.si-btn:hover{
  background-color: #e3e3e3;
}
.bg-info{
  background: #3d92ff;
  color: white;
.scale-1-5x:hover{
  transform: scale(1.5);
}
}
.bg-info:hover{
  background: #3d92ff;
  color: white;
}
.bg-success{
  background: #52d66b;
  color: white;
}
.bg-success:hover{
  background: #52d66b;
  color: white;
}
.bg-warn{
  background: #f7d03e;
  color: white;
}
.bg-warn:hover{
  background: #f7d03e;
  color: white;
}
.bg-danger{
  background: #fc5f3f;
  color: white;
}
.bg-danger:hover{
  background: #fc5f3f;
  color: white;
}
.bg-alpha{
  background: #7971ee;
  color: white;
}
.bg-alpha:hover{
  background: #7971ee;
  color: white;
}
.bg-beta{
  background: #52bfcf;
  color: white;
}
.bg-beta:hover{
  background: #52bfcf;
  color: white;
}
.bg-gamma{
    background: #243d67;
  color: white;
}
.bg-gamma:hover{
  background: #243d67;
  color: white;
}
.bg-violet{
    background: violet;
  color: white;
}
.bg-violet:hover{
  background: violet;
  color: white;
}
.bg-indigo{
    background: indigo;
  color: white;
}
.bg-indigo:hover{
  background: indigo;
  color: white;
}
.bg-blue{
  background: blue;
  color: white;
}
.bg-blue:hover{
  background: blue;
  color: white;
}
.bg-green{
  background: green;
  color: white;
}
.bg-green:hover{
  background: green;
  color: white;
}
.bg-dark{
  background: #464646;
  color: white;
}
.bg-dark:hover{
  background: #464646;
  color: white;
}
.bg-yellow{
  background: yellow;
  color: black;
}
.bg-yellow:hover{
  background: yellow;
  color: black;
}
.bg-orange{
  background: orange;
  color: white;
}
.bg-yellow:hover{
  background: orange;
  color: white;
}
.bg-red{
  background: red;
  color: white;
}
.bg-yellow:hover{
  background: red;
  color: white;
}
.bg-rainbow{
  background: rgb(127,0,255);
  background: linear-gradient(90deg, rgba(127,0,255,1) 0%, rgba(75,0,130,1) 15%, rgba(0,0,255,1) 30%, rgba(0,255,55,1) 45%, rgba(255,218,0,1) 60%, rgba(255,145,0,1) 75%, rgba(252,0,0,1) 90%);
  color: white;
}
.bg-yellow:hover{
  background: rgb(127,0,255);
  background: linear-gradient(90deg, rgba(127,0,255,1) 0%, rgba(75,0,130,1) 15%, rgba(0,0,255,1) 30%, rgba(0,255,55,1) 45%, rgba(255,218,0,1) 60%, rgba(255,145,0,1) 75%, rgba(252,0,0,1) 90%);
    color: white;
}
.si-card{
  background: #ececec;
  box-shadow: 7px 7px 7px #d0d0d0;
  width: 30%;
  height: 30vh;
  border-radius: 15px;
}
